.idea/misc.xml
.idea/modules.xml
.idea/TensorflowCertification.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
Natural Language Processing in TensorFlow/.DS_Store
Natural Language Processing in TensorFlow/Week 1/.DS_Store
Natural Language Processing in TensorFlow/Week 3/.DS_Store
.DS_Store
